<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr />
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <p>
              I have over 4 years of experience as a software engineer. While I'm a proficient full-stack
              developer, my expertise is in building scalable backend services (API services, stream processing,
              and async mechanisms).
          </p>
          <p>
             I love doing innovative things.
             While hard engineering problems are often intrinsically fun to tackle,
             I'm most attracted to solving real customer problems with a business justification.
             I'm looking for a senior individual contributor role where I can take on on collaborative
             team leadership responsibilites, and gain experience with
             architecture and project management.
          </p>
        </div>
          <div class="col-sm-6">
              <h3 style="margin-top:0;">Highlights</h3>
              <ul>
                  <li>
              There was no <b>fast PDF</b> engine having support to multilingual, I added support of multilingual to open <b>source library OpenPDF</b>. Now OpenPDF supports multilingual PDFs
                  </li>
            <li>
          Created <b>configuration manager</b> application, which can handle configurations of applications and also enabled spring based application to fetch respective configurations remotely.          
            </li>
                  <li>
          Created auto <b>spring 5</b> upgrade suite for product, enabled reactive programming in non-spring boot based application on servlet 3.1 container.    			</li>
                  <li>
              Enabled non spring boot application to support <b>runtime refresh</b> of beans and configurations.
              </li>
                 <li>
                   Designed and developed support for <b>async request processing</b> by using <b>JMS</b> queues at product integration layer(Rest/Soap web-services developed with spring and camel for routing), which can support sync and async mode at the same time.  
                  </li>
<li>
        Developed support for <b>circuit breaker pattern</b> at integration layer in async mode, so now integration layer is aware if some service is down so not to call the same till not available.
</li>
<li>
        Got <b>Technical Wizard award</b> for solving challenging problems at Nucleus.
</li>

              </ul>
          </div>
      </div>
    </div>
  </section>
  
